/* Import Global CSS */
@import url('../../global.css');

/* Page Specific CSS */
.password-form {
	width: 80%;
}
/* Width of Field */
input[type='password'] {
	width: 60%;
}

/* Alert */
.alert {
	top: 0;
}