/* Import Fonts */
@import url('fonts.css');
/* Import Hover.css from IanLunn/Hover */
@import url('hover.css');

/* Ubuntu Orange */
/* #e95420 */
/* Dark Hover Orange */
/* #ac3911 */

body {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
    font-weight: 600;
}
/* Navbar */
.navbar-default {
	margin: 0 auto 0.5%;
	border-radius: 0;
    z-index: 100;
}
/* Icon inside of the drop down menu */
.dropdown-icon {
	font-size: 1.1em;
	padding-right: 5%;
}
/* Dropdown menu hover LI hover */
.dropdown-menu .hvr-forward {
    width: 100%;
    background: none;
}
.dropdown-menu .hvr-forward a:hover {
    color: black;
    background: none;
}

/* Bread Crumbs */
.breadcrumb {
    background: #ededed;
    margin-bottom: 0.5%;
}


/* Alerts */
.alert {
	margin: 0 auto 0.5%;
}

/* Text Warning */
.text-warning, .text-danger {
    font-family: 'Josefin Sans' !important;
    font-weight: 600 !important;
}

/* Links */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Jumbotron Fixes */
.jumbotron {
    background: #e6e6e6;
	padding-top: 1.25%;
	padding-bottom: 1.25%;
    margin-bottom: 15px;
}
.jumbotron h1 {
	font-size: 4em;
}
.jumbotron p {
	font-size: 1.15em;
	text-align: justify;
}

/* Navbar Collapse Fix */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}