/* Import Fonts */
@import url('fonts.css');

/* Navbar */
.navbar-default {
	margin: 0 auto 0.5%;
	border-radius: 0;
}
.dropdown-icon {
	font-size: 1.1em;
	padding-right: 5%;
}

/* Alerts */
.alert {
	margin: 0 auto 0.5%;
}

/* Jumbotron Fixes */
.jumbotron {
	padding-top: 1.25%;
	padding-bottom: 1.25%;
}
.jumbotron h1 {
	font-size: 4em;
}
.jumbotron p {
	font-size: 1.15em;
	text-align: justify;
}

/* Navbar Collapse Fix */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}